
.logo {
    font-size: 35px;
    font-weight: 900;
}

.navbar {
    padding: 20px;
}

.navbar ul a:hover {
    background-color: #f5efe7;
}
.navbartext li a{
    color: black;
}


.menu {
    margin-left: 35%;
}

.menu li {
    margin: 0 10px;
}
