@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Londrina+Solid:wght@100;300;400;900&display=swap");

html {
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    font-family: "Kumbh Sans";

}

ul,
li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    font-size: 35px;
    font-weight: 900;
}

.navbar {
    padding: 20px;
}

.navbar ul a:hover {
    background-color: #f5efe7;
}
.navbartext li a{
    color: black;
}


.menu {
    margin-left: 35%;
}

.menu li {
    margin: 0 10px;
}

/* MAIN HOME */

.main-title {
    text-align: center;
}

.main-title-btn {
    background-color: black;
    border: 0 transparent white;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.main-title-btn a {
    color: white;
}

.main-title-p {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 100px;
}

.main-title-h1 {
    font-size: 40px;
    font-weight: 900;
}

.main-image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 0;
}

.main-image-container img {
    display: inline-block;
    width: 30%;
    height: 100%;
}

.main-image-1 {
    margin: 20px 70px 100px 150px;
}

.deporte-subtitle {
    font-size: 25px;
    margin-left: 170px;
    margin-bottom: 170px;
}

.main-deporte-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}

.main-deporte-container img {
    margin: 20px;
}

.deporte-basquet {
    padding-left: 150px;
}

.deporte-shoes {
    padding-right: 150px;
}

.deporte-basquet-container {
    display: inline-block;
}

.deporte-shoes-container {
    display: inline-block;
}

.deporte-basquet-h3 {
    margin-left: 170px;
    font-weight: 500;
    font-size: 25px;
}

.deporte-basquet {
    margin-left: 170px;
}

.deporte-shoes-h3 {
    margin-left: 20px;
    font-weight: 500;
    font-size: 25px;
}

.deporte-shoes {
    margin-left: 20px;
}

/* MAIN HOME END */

/* MAIN HOMBRE  */

.hombre-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.hombre-title-acg {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

.title-acg {
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

.hombre-acg-btn {
    text-align: center;
}

.hombre-title-btn {
    background-color: black;
    border: 0 transparent white;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.hombre-title-btn a {
    color: white;
}

.image-shoes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100%;
    margin-bottom: 160px;
}

.imagenes-zapas-1 {
    margin: 2rem;
    width: 25%;
}

.imagenes-zapas-1 img {
    width: 100%;
}

.imagenes-zapas-2 {
    margin: 2rem;
    width: 25%;
    
}

.imagenes-zapas-2 img {
    width: 100%;
}

.imagenes-zapas-3 {
    margin: 2rem;
    width: 25%;
}

.imagenes-zapas-3 img {
    width: 100%;
}

.shoes-title-1-1 {
    font-weight: 600;
}

.shoes-1-3 {
    margin-top: 10px;
    font-weight: 600;
}

.shoes-title-2-1 {
    font-weight: 600;
}

.shoes-2-3 {
    font-weight: 600;
    margin-top: 10px;
}

.shoes-title-3-1 {
    font-weight: 600;
    margin-top: 10px;
}

.lanzamientos-title {
    margin-top: 170px;
    font-size: 25px;
    margin-left: 2rem;
    margin-bottom: 50px;
}

.main-lanzamientos-conteinter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}





.nez-invicible-image {
    width: 100%;
}

.nez-relax-image {
    width: 100%;
}

.nez-relax-btn {
    background-color: black;
    border: 0 transparent white;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.nez-relax-btn a {
    color: white;
}

.nez-invicible-btn {
    background-color: black;
    border: 0 transparent white;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.nez-invicible-btn a {
    color: white;
}

/* MAIN HOMBRE END */


/* MAIN MUJER  */

.main-mujer-title {
    text-align: center;
}

.main-mujer-title-btn {
    background-color: black;
    border: 0 transparent white;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.main-mujer-title-btn a {
    color: white;
}

.main-mujer-title-p {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.main-mujer-title-h1 {
    font-size: 40px;
    font-weight: 900;
}


/* .main-mujer-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    overflow: hidden;
    width: 1260px;
    height: 488px;
    margin-left: 350px;
    margin-bottom: 200px;
    margin-top: 100px;
} */

/* .main-mujer-image-container img {
    width: 100%;
    padding-top: 400px;
} */

.mujer-title-lanzamiento {
    font-size: 25px;
    margin-left: 2rem;
}

/* .image-shoes-container-mujer {
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 200px;
}

.image-mujer-shoes-container {
    margin-top: 120px;
    position: relative;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
}

.imagenes-mujer-zapas-1 {
    position: relative;
    display: inline-block;
    width: 25%;
    padding: 40px;
}

.imagenes-mujer-zapas-1 img {
    width: 100%;
    height: auto;
}

.imagenes-mujer-zapas-2 {
    position: relative;
    display: inline-block;
    width: 25%;
    padding: 40px;
}

.imagenes-mujer-zapas-2 img {
    width: 100%;
    height: auto;
}

.imagenes-mujer-zapas-3 {
    position: relative;
    display: inline-block;
    width: 25%;
    padding: 40px;
}

.imagenes-mujer-zapas-3 img {
    width: 100%;
    height: auto;
}

.shoes-mujer-title-1-1 {
    font-weight: 600;
}

.shoes-mujer-1-3 {
    margin-top: 10px;
    font-weight: 600;
}

.shoes-mujer-title-2-1 {
    font-weight: 600;
}

.shoes-mujer-2-3 {
    font-weight: 600;
    margin-top: 10px;
}

.shoes-mujer-title-3-1 {
    font-weight: 600;
    margin-top: 10px;
}

.shoes-mujer-3-3 {
    font-weight: 600;
    margin-top: 10px;
}

.lanzamientos-mujer-title {
    font-size: 25px;
    margin-left: 170px;
    margin-bottom: 50px;
}

.main-mujer-lanzamientos-conteinter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    margin-bottom: 200px;
} */

/* .mujer-relax-image {
    width: 600px;
}

.mujer-invicible-image {
    width: 600px;
}

.mujer-invicible-btn {
    background-color: black;
    border: 0 transparent white;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.mujer-invicible-btn a {
    color: white;
}

.mujer-relax-btn {
    background-color: black;
    border: 0 transparent white;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.mujer-relax-btn a {
    color: white;
} */

/* MAIN MUJER END */


/* MAIN NIÑO*/

.main-niño-title {
    text-align: center;
}

.main-niño-title-p {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.main-niño-title-h1 {
    font-size: 40px;
    font-weight: 900;
}

.main-niño-title-btn {
    background-color: black;
    border: 0 transparent white;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.main-niño-title-btn a {
    color: white;
}

.main-niño-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 1260px;
    height: 488px;
    margin-left: 350px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.main-niño-image {
    width: 100%;
    padding-top: 730px;
}

.destacado-niño-title {
    font-size: 25px;
    margin-left: 170px;
}

.image-shoes-container-niño {
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 170px;
}

.imagenes-niño-zapas-1 {
    position: relative;
    display: inline-block;
    width: 25%;
    padding: 40px;
}

.imagenes-niño-zapas-1 img {
    width: 100%;
    height: auto;
}

.shoes-niño-title-1-1 {
    font-weight: 600;
}

.shoes-niño-1-3 {
    margin-top: 10px;
    font-weight: 600;
}

.imagenes-niño-zapas-2 {
    position: relative;
    display: inline-block;
    width: 25%;
    padding: 40px;
}

.imagenes-niño-zapas-2 img {
    width: 100%;
    height: auto;
}

.shoes-niño-title-2-1 {
    font-weight: 600;
}

.shoes-niño-2-3 {
    font-weight: 600;
    margin-top: 10px;
}

.imagenes-niño-zapas-3 {
    position: relative;
    display: inline-block;
    width: 25%;
    padding: 40px;
}

.imagenes-niño-zapas-3 img {
    width: 100%;
    height: auto;
}

.shoes-niño-title-3-1 {
    font-weight: 600;
    margin-top: 10px;
}

.shoes-niño-title-3-1 {
    font-weight: 600;
    margin-top: 10px;
}

.lanzamientos-niño-title {
    font-size: 25px;
    margin-left: 170px;
    margin-bottom: 50px;
}

.main-niño-lanzamientos-conteinter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    margin-bottom: 200px;
}

.niño-invicible-image {
    width: 600px;
}

.niño-invicible-btn {
    background-color: black;
    border: 0 transparent white;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.niño-invicible-btn a {
    color: white;
}

.niño-relax-image {
    width: 600px;
}

.niño-relax-btn {
    background-color: black;
    border: 0 transparent white;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.niño-relax-btn a {
    color: white;
}

/* MAIN NIÑO END */

/* MAIN ACCESORIOS */

.main-accesorios-title {
    text-align: center;
}

.main-accesorios-title-p {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.main-accesorios-title-h1 {
    font-size: 40px;
    font-weight: 900;
}

.main-accesorios-title-btn {
    background-color: black;
    border: 0 transparent white;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.main-accesorios-title-btn a {
    color: white;
}

.main-accesorios-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 1260px;
    height: 700px;
    margin-left: 350px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.main-accesorios-image {
    width: 100%;
    padding-top: 300px;
}

.destacado-accesorios-title {
    font-size: 25px;
    margin-left: 170px;
}

.image-shoes-container-accesorios {
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 200px;
}

.imagenes-accesorios-zapas-1 {
    position: relative;
    display: inline-block;
    width: 25%;
    padding: 40px;
}

.imagenes-accesorios-zapas-1 img {
    width: 100%;
    height: auto;
}

.shoes-accesorios-title-1-1 {
    font-weight: 600;
}

.shoes-accesorios-1-3 {
    margin-top: 10px;
    font-weight: 600;
}

.imagenes-accesorios-zapas-2 {
    position: relative;
    display: inline-block;
    width: 25%;
    padding: 40px;
}

.imagenes-accesorios-zapas-2 img {
    width: 100%;
    height: auto;
}

.shoes-accesorios-title-2-1 {
    font-weight: 600;
}

.shoes-accesorios-2-3 {
    font-weight: 600;
    margin-top: 10px;
}

.imagenes-accesorios-zapas-3 {
    position: relative;
    display: inline-block;
    width: 25%;
    padding: 40px;
}

.imagenes-accesorios-zapas-3 img {
    width: 100%;
    height: auto;
}

.shoes-accesorios-title-3-1 {
    font-weight: 600;
    margin-top: 10px;
}

.shoes-accesorios-title-3-1 {
    font-weight: 600;
    margin-top: 10px;
}

.lanzamientos-accesorios-title {
    font-size: 25px;
    margin-left: 170px;
    margin-bottom: 50px;
}

.main-accesorios-lanzamientos-conteinter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    margin-bottom: 200px;
}

.accesorios-invicible-image {
    width: 600px;
}

.accesorios-invicible-btn {
    background-color: black;
    border: 0 transparent white;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.accesorios-invicible-btn a {
    color: white;
}

.accesorios-relax-image {
    width: 600px;
}

.accesorios-relax-btn {
    background-color: black;
    border: 0 transparent white;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.accesorios-relax-btn a {
    color: white;
}

/* <---- Main Accesorios */

/* Footer */

.pie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}

.pie-pagina {
    width: 100%;
    background-color: #181818;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .box h2 {
    color: white;
}

.pie-pagina .box p {
    color: #718d71;
}

.pie-pagina .red-social a {
    color: #718d71;
}

.small1 {
    color: white;
    font-size: 14px;
}

.logo-pie-nez a {
    color: white;
    font-size: 150px;
    font-weight: 900;
}

.logo-pie-nez {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Footer End */


/* Estilos para dispositivos móviles */
@media (max-width: 650px) {
    img {
        width: 100%;
    }
    .main-image-container{
        flex-direction: column;
    }
    .main-deporte-container{
    flex-direction: column;
    }

    .menu{
        margin-left: 0;
    }

    .main-image-1{
        margin: 0;

    }
    .main-image-container img{
        width: 100%;
    }

    .main-deporte-container img {
        margin: 0;
    }

    .deporte-basquet {
        padding-left: 0;
    }

    .pie-pagina .grupo-1{
        max-width: 100%;
        flex-wrap: wrap;
    }

    .deporte-shoes{
        padding-right: 0;
    }

    body{
        display: block;
    }

    .deporte-subtitle{
        margin-left: 0;
    }
    .navbar {
        padding: 0px;
    }
    
    /* MAIN HOMBRE */
    .main-lanzamientos-conteinter h3,
.main-lanzamientos-conteinter button{
    display: none;
}
    .deporte-subtitle{
        margin-bottom: 3rem;
        margin-left: 2rem;
    }
    .deporte-basquet-h3{
        margin-left: 2rem;
        margin-top: 1rem;
    }
    .deporte-shoes-h3{
        margin-left: 2rem;
        margin-top: 1rem;
    }
    .main-title-btn, 
    .deporte-basquet{
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
    .image-shoes-container{
        flex-direction: column;
        align-items: center;
    }
    .imagenes-zapas-1 {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .imagenes-zapas-2 {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .imagenes-zapas-3 {
        margin: 0;
        padding: 0;
        width: 100%;
    }


    .mujer-title-lanzamiento{
        font-size: 25px;
        margin-left: 2rem;
    }

    .lanzamientos-title {
        margin-top: 170px;
        font-size: 25px;
        margin-left: 2rem;
        margin-bottom: 50px;
    }

    .main-lanzamientos-conteinter {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }

    .box{
        margin: 0 1rem;
    }
    .grupo-1{
        text-align: center;
    }
}

/* Estilos para tablets */
@media (min-width: 577px) and (max-width: 1023px) {

}

/* Estilos para pantallas más grandes */
@media (min-width: 1024px) {

}